# =====================
# Logs
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Build outputs
# =====================
dist/
dist-ssr/

# =====================
# React Native
# =====================
.expo/
.expo-shared/
.metro-health-check*

# =====================
# Android
# =====================
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.keystore

# =====================
# iOS
# =====================
ios/build/
ios/Pods/
ios/DerivedData/
*.xcuserstate
*.xcuserdata
*.xcworkspace

# =====================
# IDE
# =====================
.idea/
.vscode/
!.vscode/extensions.json

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Env
# =====================
.env
.env.*
*.local